[Desktop Entry]
Name=Haenau Llwyd
Name[ar]=طبقات
Name[ast]=Haenau Llwyd
Name[az]=Haenau Llwyd
Name[bg]=Haenau Llwyd
Name[bs]=Haenau Llwyd
Name[ca]=Haenau Llwyd
Name[ca@valencia]=Haenau Llwyd
Name[cs]=Haenau Llwyd
Name[da]=Haenau Llwyd
Name[de]=Haenau Llwyd
Name[el]=Haenau Llwyd
Name[en_GB]=Haenau Llwyd
Name[es]=Haenau Llwyd
Name[et]=Haenau Llwyd
Name[eu]=Haenau Llwyd
Name[fi]=Haenau Llwyd
Name[fr]=Haenau Llwyd
Name[gl]=Haenau Llwyd
Name[hu]=Haenau Llwyd
Name[ia]=Haenau Llwyd
Name[id]=Haenau Llwyd
Name[it]=Haenau Llwyd
Name[ja]=Haenau Llwyd
Name[kk]=Ханау
Name[ko]=Haenau Llwyd
Name[lt]=Haenau Llwyd
Name[mr]=हेनोउ
Name[nb]=Haenau Llwyd
Name[nds]=Haenau Llwyd
Name[nl]=Haenau Llwyd
Name[nn]=Haenau Llwyd
Name[pl]=Haenau Llwyd
Name[pt]=Haenau Llwyd
Name[pt_BR]=Haenau Llwyd
Name[ro]=Haenau Llwyd
Name[ru]=Haenau Llwyd
Name[sk]=Haenau Llwyd
Name[sl]=Haenau Llwyd
Name[sr]=Хаенау
Name[sr@ijekavian]=Хаенау
Name[sr@ijekavianlatin]=Haenau Llwyd
Name[sr@latin]=Haenau Llwyd
Name[sv]=Haenau Llwyd
Name[tr]=Haenau Llwyd
Name[uk]=Ганау
Name[vi]=Haenau Llwyd
Name[wa]=Haenau Llwyd
Name[x-test]=xxHaenau Llwydxx
Name[zh_CN]=层次
Name[zh_TW]=Haenau Llwyd
Comment=Haenau Llwyd wallpaper
Comment[ar]=خلفية الطبقات
Comment[az]=Haenau Llwyd divar kağızı
Comment[bg]=Haenau Llwyd тапет
Comment[ca]=Fons de pantalla Haenau Llwyd
Comment[ca@valencia]=Fons de pantalla Haenau Llwyd
Comment[cs]=Tapeta Haenau Llwyd
Comment[da]=Haenau Llwyd-baggrundsbillede
Comment[de]=Haenau Llwyd-Hintergrundbild
Comment[el]=Ταπετσαρία Haenau Llwyd
Comment[en_GB]=Haenau Llwyd wallpaper
Comment[es]=Fondo de pantalla Haenau Llwyd
Comment[et]=Haenau Llwyd taustapilt
Comment[eu]=Haenau Llwyd horma-papera
Comment[fi]=Haenau Llwyd-tausta
Comment[fr]=Papier peint Haenau Llwyd
Comment[gl]=Fondo de pantalla de Haenau Llwyd.
Comment[hu]=Haenau Llwyd háttérkép
Comment[ia]=Tapete de papiro de Haenau Llwyd
Comment[id]=Wallpaper Haenau Llwyd
Comment[it]=Sfondo Haenau Llwyd
Comment[ja]=Haenau Llwyd 壁紙
Comment[ko]=Haenau Llwyd 배경 그림
Comment[lt]=Haenau Llwyd darbalaukio fonas
Comment[nl]=Haenau Llwyd achtergrondafbeelding
Comment[nn]=Haenau Llwyd-bakgrunnsbilete
Comment[pl]=Tapeta Haenau Llwyd
Comment[pt]=Papel de pare de Haenau Llwyd
Comment[pt_BR]=Papel de parede Haenau Llwyd
Comment[ro]=Tapet Haenau Llwyd
Comment[ru]=Обои Haenau Llwyd
Comment[sk]=Tapeta Haenau Llwyd
Comment[sl]=Slika ozadja Haenau Llwyd
Comment[sr]=Тапет Хаенау
Comment[sr@ijekavian]=Тапет Хаенау
Comment[sr@ijekavianlatin]=Tapet Haenau Llwyd
Comment[sr@latin]=Tapet Haenau Llwyd
Comment[sv]=Haenau Llwyd skrivbordsunderlägg
Comment[tr]=Haenau Llwyd duvar kağıdı
Comment[uk]=Шпалера Ганау
Comment[vi]=Phông nền Haenau Llwyd
Comment[x-test]=xxHaenau Llwyd wallpaperxx
Comment[zh_CN]=Haenau Llwyd 壁纸
Comment[zh_TW]=Haenau Llwyd 桌布
Icon=preferences-desktop-wallpaper

Type=Service
X-KDE-ServiceTypes=Plasma/Wallpaper

X-KDE-PluginInfo-Author=Qaz Cetelic
X-KDE-PluginInfo-Email=qaz.cetelic@protonmail.com
X-KDE-PluginInfo-Name=org.qaz.haenau_llwyd
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://github.com/QazCetelic
X-KDE-PluginInfo-License=LGPL-2.1
X-KDE-PluginInfo-EnabledByDefault=true
